.git
.gitignore
.github/
.dockerignore
Dockerfile
docker-compose.yaml
README.md
.venv
venv/
.coverage
.coverage.*
LICENSE
Makefile
__pycache__/
.pytest_cache/
cov_html/
tests/
images/
pyproject.toml
setup.cfg
.pre-commit-config.yaml
